<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic - Exemplo com two-way data binding
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-title>
    <em>Sem</em>
    two way data binding
  </ion-title>
  <ion-item>
    <ion-label floating>Digite um texto qualquer</ion-label>
    <ion-input
      type="text"
      [value]="textoSemTwoWayDataBinding"
      (ionChange)="processar($event)"
    >
    </ion-input>
  </ion-item>
  <div padding>
    <p>
      Texto sendo digitado: {{ textoSemTwoWayDataBinding }} ({{ textoSemTwoWayDataBinding.length }})
    </p>
  </div>

  <br>
  <br>

  <ion-title>
    <em>Com</em>
    two way data binding
  </ion-title>
  <ion-item>
    <ion-label floating>Digite um texto qualquer</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="textoComTwoWayDataBinding"
    >
    </ion-input>
  </ion-item>
  <div padding>
    <p>
      Texto sendo digitado: {{ textoComTwoWayDataBinding }} ({{ textoComTwoWayDataBinding.length }})
    </p>
  </div>
</ion-content>
